body {
    padding: 0px;
    margin: 0px;
    font-family: "Helvetica", sans-serif;
    overflow: hidden;
}

#map {
    position: absolute;
    left: 0;
    width: 70vw;
    height: 100vh;
    z-index: 1;
    visibility: hidden;
}

#narration {
    position: absolute;
    width: 30vw;
    min-width: 300px;
    right: 0px;
    height: 100vh;
    overflow: auto;
    z-index: 99;
    background: rgba(254,254,254, 1.0); /* to apply opacity background only. */
    visibility: hidden;
}

#contents {
    padding: 0%;
    width: 100%;
    margin-top: 0px; /*Adjust if Title header needs more space */
    height: 100%; /* Adjust to fit max Description length, one setting for all; alternative is 100% */
    overflow-y: scroll;
    overflow-x: hidden;
}

#space-at-the-top {
    height: 30px;
    margin: 0px;
}

#space-at-the-bottom {
    height: 200px;
    margin: 0px;
    text-align: center;
    padding-top: 150px;
}

#chapter {
    position: absolute;
    z-index: 999;
    margin: 10px;
    display: block;
    text-align: center;
    color: #fff;
}

#title {
    position: absolute;
    right: 0px;
    top: 0px;
    background-color: white;
    width: 30vw;
    min-width: 300px;
    z-index: 100;
    margin: 0px;
    padding: 0px;
    visibility: hidden;
}

h3 {
    margin-bottom: 0px;
}

.chapter-container {
    /* margin + padding = chapterContainerMargin in script.js */
    /* Important for scrolling! */
    margin: 50px 0 0 0;
    padding: 20px 0 0 0;
    text-align: center;
}

.chapter-container img {
    height: auto;
    width: auto;
    max-height: 100%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;

    /* Three lines that center vertically */
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.img-container {
    margin: 0px;
    height: 200px;
    max-height: 200px;
    width: 100%;
}

.title-text {
    font-weight: bold;
    text-align: center;
    margin: 10px;
}

.chapter-header {
    display: block;
    text-align: center;
    font-size: 120%;
}

.source {
    font-size: 9pt;
    margin: 20px;
}

.description {
    margin: 20px;
    text-align: left;
    font-size: 11pt;
    padding: 20px;
}

.in-focus {
    opacity: 1.0;
    /*background-color: #f0f0f0; */
}

.out-focus {
    opacity: 0.3;
    /*background-color:hsl(180, 0%, 100%);
    /* background-color: white; */
}

@media only screen and (max-device-width: 480px) {
  ::-webkit-scrollbar {
      display: none;
  }
  #map {
    width: 100vw;
  }
  #title {
    width: 80%;
    left: 10%;
    min-width: 0;
  }
  #narration {
    width: 80%;
    min-width: 0;
    left: 10%;
    background: none;
    opacity: 0.8;
  }
  .description {
      padding: 0;
      padding-bottom: 10px;
  }
  .leaflet-control-container {
      display: none;
  }
}


/* CSS Loader */
.loader,
.loader:before,
.loader:after {
  background: #000;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader {
  color: #000;
  text-indent: -9999em;
  position: absolute;
  left: 50vw;
  top: 45vh;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
